version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: pg-database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql
    command: >
      bash -c "
          docker-entrypoint.sh postgres &
          sleep 10 &&
          psql -U postgres -tc \"SELECT 1 FROM pg_database WHERE datname = 'ubank_insurance'\" | grep -q 1 || psql -U postgres -c 'CREATE DATABASE ubank_insurance;' &&
          psql -U postgres -tc \"SELECT 1 FROM pg_database WHERE datname = 'ubank_intg_belstrahovka'\" | grep -q 1 || psql -U postgres -c 'CREATE DATABASE ubank_intg_belstrahovka;' &&
          wait"
volumes:
  pg-data:
